name: Build & Deploy
on:
  push:
  merge_group:
    types: [checks_requested]
  workflow_dispatch:

jobs:
  jar-app:
    uses: navikt/teamesyfo-github-actions-workflows/.github/workflows/jar-app.yaml@main
    permissions:
      actions: read
      contents: write
      security-events: write
      packages: write
      id-token: write
    secrets: inherit
    with:
      app: esyfovarsel
      java-version: '21'
